{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <div class="container">
        <div class="row">
            
            <div class="col-2 d-none d-md-block"></div>
            <div class="col">
                {% bootstrap_messages %}
                <form method="POST" action="{% url 'editar_certificado' %}" enctype="multipart/form-data">
                    {{ form.errors }}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-dark text-white btn-block" type="submit"> <i class="fas fa-save"></i>  Salvar Alterações </button>
                </form>
            </div>
            <div class="col-2 d-none d-md-block"></div>
        </div>
    </div>
{% endblock %}