<center>
    <div id="publicacao-{{publicacao.id}}" class="card publicacao" style="margin-top: 20px; max-width: 600px; border: 0px;">
    
        <div class="card-header bg-dark" >
            <h5 class="card-title texto">
                <strong>
                    <center>
                        <a class="text-white" href="{% url 'visualizar_publicacao' pk=publicacao.pk %}">{{publicacao.titulo}}</a>
                    </center>
                </strong>
                <span style="font-size: 12px;" class="text-light float-right m-0">{{publicacao.data_criacao}}</span>
            </h5>  
        </div>
    
        <div class="card-body">
            <img class="card-img img-thumbnail rounded" src="{{publicacao.midia.thumbnail.url}}" width="200" heigth="200">
        </div>
    
        <div class="card-footer bg-dark">
            {% if publicacao.conteudo %}                       
                <textarea class="form-control mb-3 bg-white" readonly>{{publicacao.conteudo}}</textarea>
            {% endif %}
    
            {% if publicacao.publicante == request.user %}
                <a href="{% url 'editar_publicacao' pk=publicacao.id %}" class="btn btn-danger text-white float-left"><strong><i class="fas fa-edit"></i></strong></a>
            {% else %}
                
                <div class="button-area">
                    {% if not aprovacao %}
                        <button id="btn-aprovar-{{publicacao.id}}" class="btn btn-danger float-left mr-1 ml-1" onclick="aprovar_publicacao({{publicacao.id}})"><strong><i class="fas fa-heart"></i> Aprovar</strong></button>
                    {% else %}
                        <button id="btn-desaprovar-{{publicacao.id}}" class="btn btn-danger float-left mr-1 ml-1" onclick="cancelar_aprovacao({{publicacao.id}})"><strong><i class="fas fa-ban" style="font-size: 18px;"></i> Desaprovar</strong></button>
                    {% endif %}
                </div>
                    
            {% endif %}
        
            
            <button  class="btn btn-danger float-left ml-1"> <strong><span id="nr-aprovacoes-{{publicacao.id}}">{{publicacao.nr_aprovacoes}}</span> <i class="fas fa-heart"></i></strong> </button>
                
            
            {% if publicacao.publicante == request.user %}
                <a class="btn btn-danger float-right" href="{% url 'remover_publicacao' pk=publicacao.pk %}"> <strong><i class="fas fa-trash-alt"></i> Excluir</strong> </a>
            {% else %}
                <div class="btn-group dropright float-right">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong><i class="fas fa-cogs"></i> </strong>
                    </button>
                    <div class="dropdown-menu bg-secondary">
                      <a href="{% url 'request_denunciar_publicacao' pub_id=publicacao.id %}" class="dropdown-item text-white bg-dark"> <strong> <i class="fas fa-thumbs-down"></i> Denunciar publicação</strong> </a>
                      <a href="{% url 'request_denunciar_usuario' usuario_id=publicacao.publicante.id %}" class="dropdown-item text-white bg-dark"> <strong><i class="fas fa-thumbs-down"></i> Denunciar publicante </strong></a>
                    </div>
                </div>
            {% endif %}                                                
        </div>
    </div>
    </center>

